
/* Color Styles */
a.active{
    color: #fbb929 !important;
}

.bg-al-yellow {
    background-color: #fbb929 !important;
}

.al-text-ul{
	text-decoration-line: underline;
  	text-decoration-thickness: 0.25rem;
    text-decoration-color: #dea526;
    text-underline-offset: 0.25rem;
}

.text-al-purple {
    color: #562583 !important;
}

.bg-al-purple {
    background-color: #562583 !important;
}

.bg-al-purple-img {
    background-color: #451670!important;
}

.nav-link {
    color: #fff !important;
}


/* Font styles */
.al-text {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.0rem;
}
.al-text-light {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.20rem;
}
.al-text-regular {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.15rem;
}
.al-text-bold {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.0rem;
}
.al-text-black {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 0.9rem;
}

/* Body Styles */
section {
    padding: 30px 0 !important;
}

.breadcrumbs{
    max-height: 6.5rem !important;
}
.mh-10{
    min-height: 10em !important;
}
.mh-12{
    min-height: 12em !important;
}
.mh-14{
    min-height: 14em !important;
}
.mh-15{
    min-height: 15em !important;
}


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero-section{
        margin-top: -5rem !important;
    }

    .nav-link {
        color: #451670 !important;
    }

    .breadcrumbs{
        margin-top: 5rem !important;
    }
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero-section{
        margin-top: -4.5rem !important;
    }

    .nav-link {
        color: #451670 !important;
    }

    .header{
        margin-bottom: 55em !important;
    }

    .breadcrumbs{
        margin-top: 5rem !important;
    }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hero-section{
        margin-top: -4rem !important;
    }

    .nav-link {
        color: #451670 !important;
    }

    .breadcrumbs{
        margin-top: 5rem !important;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hero-section{
        margin-top: 6rem !important;
    }

    .nav-link {
        color: #fff !important;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hero-section{
        margin-top: 3rem !important;
    }

    .nav-link {
        color: #fff !important;
    }
}